* {
  outline: none !important;
}
.bin {
  min-height: 100px;
  width:100%;
  float: right;
  padding: 40px 10px 0 10px;
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(161,161,161,1);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(161,161,161,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(161,161,161,1);
box-shadow: 0px 0px 2px 1px rgba(161,161,161,1);

}

.over {
  background: #ddd;
  opacity: 0.7;
}
.drag {
  opacity: 0.5;
}

.form-addtodo {
  margin:10px 0 30px 0;
  position: relative;
}

.col-form-addtodo {
  min-height: 59px;
}

.col-form-addtodo button {
  position: absolute;
  bottom: 0;
}
table {
  border: 1px solid #ddd;

}
