<div class="container" ng-controller="TaskCtrl">
  <h2>Controle de Atividades</h2>
  <div class="col-lg-12 form-addtodo">
    <form data-ng-submit="addTodo()" name="createTask">
      <div class="col-form-addtodo col-lg-5">
        <label for="taskname">Nome da Tarefa</label>
        <input type="text" id="taskname" data-ng-model="todoText" class="form-control input-task" placeholder="Entre com uma nova tarefa" required name="taskname"/>
      </div>
      <div class="col-form-addtodo col-lg-4">
        <label for="deadline">Data de Conclusão</label>
        <input type="date" id="deadline" data-ng-model="todoDate" class="form-control"  required />
      </div>
      <div class="col-form-addtodo col-lg-2">
        <label for="mySelect">Status:</label>
        <select name="mySelect" id="mySelect"
        ng-options="option.status for option in data.availableOptions track by option.id"
      ng-model="data.selectedOption" class="form-control"></select>
      </div>
      <div class="col-form-addtodo col-lg-1">
        <button class="btn btn-primary" type="submit">Criar tarefa </button>
      </div>
    </form>
  </div>
  <div class="col-lg-12">
    <form>
      <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Buscar por data" ng-model="searchTask">
      </div>
    </div>
  </form>
  </div>
  <table-task></table-task>
</div>
