<section class="app-body" ng-controller="DragDropCtrl">
  <section class="archive-control">
  <span>{{ remaining() }} de {{ todos.length }} tarefa(s) para concluir</span>
  <p>[ <a href="" data-ng-click="archive()">Remover tarefa(s) concluída(s)</a> ]</p>
</section>
  <table class="table table-striped" >
   <thead>
        <tr>
            <td class="col-lg-4">Tarefa</td>
            <td class="col-lg-2">Data de conclusão</td>
            <td class="col-lg-2">Status</td>
            <td class="col-lg-1">Concluído</td>
            <td class="col-lg-1"></td>
        </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="todo in todos | orderBy:sortType:sortReverse | filter:searchTask" id="item{{ item }}" draggable item="item">
        <td>
            <span class="done-{{ todo.done }}" ng-hide="showUpdate">{{ todo.name }}</span>
            <span ng-show="showUpdate"><input type="text"  ng-model="someNewName" class="form-control"/></span>
        </td>
        <td>
          <span ng-hide="showUpdate">{{ todo.dfinish | date:'dd/MM/yyyy'}}</span>
          <span  ng-show="showUpdate"><input type="date" ng-model="someNewData" class="form-control"/></span>
        </td>
        <td>
          <span ng-hide="showUpdate">{{todo.progress}}</span>
          <span ng-show="showUpdate" ng-model="todo.newProgress">  <select name="mySelect" id="mySelect"
              ng-options="option.status for option in data.availableOptions track by option.id"
              ng-model="someNewSelectedOption" class="form-control"></select></span>
        </td>
        <td><input type="checkbox" data-ng-model="todo.done" ></td>
        <td>
        <a href="#" ng-show="!showUpdate" ng-click="someNewName = todo.name; someNewData = todo.dfinish; someNewSelectedOption = todo.progress; showUpdate = true" class="btn btn-warning">Update</a>
        <button type="button" value="update" ng-show="showUpdate" ng-click="update(todo, someNewName, someNewData, someNewSelectedOption); showUpdate = false;" class="btn btn-success">Salvar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="bin" droppable drop="removeTask($index)" bin="bin" id="bin{{ bin }}">{{ bin }} Jogue aqui a tarefa para deletar</div>
</section>
